/* :root {
    --bs-primary: #d5882e;
    --bs-secondary: #7eb376;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #7eb376;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.siteIdentity img {
    width: 700px;
}

/* Main */

a:not([class]) {
    text-decoration: none;
}

.card-body {

}

/* Footer */

.mainFooter {
    background-color: #7eb376;
}

.footerInfo {
    display: inline;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.footerSocialMedia a {
    padding: 0 1rem;
}

.footerSocialMedia img {
    width: 35px;
}